<!-- start footer -->
<footer class="footer-center-logo padding-five-tb xs-padding-30px-tb">
    <div class="container">
        <div class="row equalize xs-equalize-auto">
            <!-- start copyright -->
            <div class="col-md-4 col-sm-5 col-xs-12 text-small text-center alt-font display-table xs-text-center xs-margin-15px-bottom">
                <div class="display-table-cell vertical-align-middle">
                    &COPY; 2020 Human-Computer Interaction+Design Lab.
                </div>
            </div>
            <!-- end copyright -->
            <!-- start logo -->
            <div class="col-md-4 col-sm-2 col-xs-12 text-center display-table xs-margin-10px-bottom">
                <div class="display-table-cell vertical-align-middle">
			<a href="/"><img class="footer-logo" src="{{ '/assets/images/home/logo.png' | relative_url }}" data-rjs="{{ '/assets/images/home/logo@2x.png' | relative_url }}"
                            alt="Human-Computer Interaction+Design Lab."></a>
                </div>
            </div>
            <!-- end logo -->
            <!-- start social media -->
            <div class="col-md-4 col-sm-5 col-xs-12 text-center display-table xs-text-center">
                <div class="display-table-cell vertical-align-middle">
                    Seoul National University
                </div>
            </div>
            <!-- end social media -->
        </div>
    </div>
</footer>
<!-- end footer -->
<!-- start scroll to top -->
<a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
<!-- end scroll to top -->
