<!-- start footer -->
<footer class="footer-center-logo padding-five-tb xs-padding-30px-tb">
    <div class="container">
        <div class="row equalize xs-equalize-auto">
            <!-- start copyright -->
            <div class="col-md-4 col-sm-5 col-xs-12 text-small text-center alt-font display-table xs-text-center xs-margin-15px-bottom">
                <div class="display-table-cell vertical-align-middle">
                    &COPY; 2019 Human-Computer Interaction & Design Lab.
                </div>
            </div>
            <!-- end copyright -->
            <!-- start logo -->
            <div class="col-md-4 col-sm-2 col-xs-12 text-center display-table xs-margin-10px-bottom">
                <div class="display-table-cell vertical-align-middle">
			<a href="index.html"><img class="footer-logo" src="{{ '/assets/images/logo.png' | relative_url }}" data-rjs="{{ '/assets/images/logo@2x.png' | relative_url }}"
                            alt="Human-Computer Interaction & Design Lab."></a>
                </div>
            </div>
            <!-- end logo -->
            <!-- start social media -->
            <div class="col-md-4 col-sm-5 col-xs-12 text-center display-table xs-text-center">
                <div class="display-table-cell vertical-align-middle">
                    <div class="display-table-cell vertical-align-middle">
                        Seoul National University
                    </div>
                    <!-- <span class="alt-font text-small margin-20px-right">On social networks</span> -->
                    <!-- <div class="social-icon-style-8 display-inline-block vertical-align-middle">
                        <ul class="small-icon no-margin-bottom">
                            <li><a class="facebook text-extra-dark-gray" href="https://www.facebook.com/" target="_blank"><i
                                        class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                            <li><a class="twitter text-extra-dark-gray" href="https://twitter.com/" target="_blank"><i
                                        class="fab fa-twitter"></i></a></li>
                            <li><a class="google text-extra-dark-gray" href="https://plus.google.com" target="_blank"><i
                                        class="fab fa-google-plus-g"></i></a></li>
                            <li><a class="instagram text-extra-dark-gray" href="https://instagram.com/" target="_blank"><i
                                        class="fab fa-instagram no-margin-right" aria-hidden="true"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <!-- end social media -->
        </div>
    </div>
</footer>
<!-- end footer -->
<!-- start scroll to top -->
<a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
<!-- end scroll to top -->
