<!-- start slider section -->
<section class="no-padding wow fadeIn no-transition">
    <article class="content">
        <div id="rev_slider_151_1_wrapper" class="rev_slider_wrapperd fullscreenbanner" data-alias="blur-effect-slider"
            data-source="gallery" style="background-color:#2d3032;padding:0px;">
            <!-- start revolution slider 5.4.1 fullscreen mode -->
            <div id="rev_slider_151_1" class="rev_slider fullscreenbanner" data-version="5.4.1">
                <ul>
                    <!-- slider item -->
                    <li data-index="rs-411" data-transition="fadethroughtransparent" data-slotamount="default"
                        data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                        data-masterspeed="default" data-thumb="images/blur1-100x50.jpg" data-rotate="0"
                        data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-delay="4000"
                        data-saveperformance="off" data-title="One" data-param1="" data-param2="" data-param3=""
                        data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                        data-param10="" data-description="">
                        <!-- main image -->
                        <img src="{{ '/assets/images/lab.jpg' | relative_url }}" alt="" data-bgposition="center center"
                            data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg"
                            data-no-retina>
                        <!-- layers -->
                        <div CLASS="opacity-extra-medium bg-extra-dark-gray"></div>
                        <div id="rrzt_411" class="rev_row_zone rev_row_zone_top slider-typography" style="z-index: 9;">
                            <div class=" slider-text-middle-main">
                                <div class=" slider-text-middle padding-nine-left">
                                    <!-- layer nr. 1 -->
                                    <div class="tp-caption" id="slide-411-layer-14"
                                        data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']"
                                        data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
                                        data-type="row" data-columnbreak="2" data-basealign="slide"
                                        data-responsive_offset="on" data-responsive="off"
                                        data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                        style="z-index: 9; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                                        <!-- layer nr. 2 -->
                                        <div class="tp-caption " id="slide-411-layer-15"
                                            data-x="['left','left','left','left']"
                                            data-hoffset="['100','100','100','100']" data-y="['top','top','top','top']"
                                            data-voffset="['100','100','100','100']" data-type="column"
                                            data-responsive_offset="on" data-responsive="off"
                                            data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                            style="z-index: 10; width: 100%;">
                                            <!-- layer nr. 3 -->
                                            <div class="tp-caption tp-resizeme blurslider-gradient text-white font-weight-450 title-extra-large margin-30px-bottom"
                                                id="slide-411-layer-1" data-x="['left','left','left','left']"
                                                data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
                                                data-voffset="['0','0','230','110']"
                                                data-fontsize="['85','85','60','40']"
                                                data-lineheight="['120','120','100','60']" data-type="text"
                                                data-basealign="slide" data-responsive_offset="on"
                                                data-frames='[{"delay":"+290","speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                                style="z-index: 11; letter-spacing: -1px;"><a
                                                    href="single-project-page-01.html"
                                                    class="text-white text-white-hover">
                                                    Human-Computer</a></div>

                                            <div class="tp-caption tp-resizeme blurslider-gradient text-white font-weight-450 title-extra-large margin-30px-bottom"
                                                id="slide-411-layer-1" data-x="['left','left','left','left']"
                                                data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
                                                data-voffset="['0','0','230','110']"
                                                data-fontsize="['85','85','60','40']"
                                                data-lineheight="['120','120','100','60']" data-type="text"
                                                data-basealign="slide" data-responsive_offset="on"
                                                data-frames='[{"delay":"+290","speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                                style="z-index: 11; letter-spacing: -1px;"><a
                                                    href="single-project-page-01.html"
                                                    class="text-white text-white-hover">
                                                    Interaction & Design Lab.</a></div>

                                            <!-- layer nr. 4 -->
                                            <div class="tp-caption tp-resizeme text-extra-large text-medium margin-70px-top font-weight-400 xs-margin-15px-top"
                                                id="slide-411-layer-2" data-x="['left','left','left','left']"
                                                data-hoffset="['0','50','0','0']" data-y="['top','top','top','top']"
                                                data-fontsize="['30','30','20','20']"
                                                data-voffset="['0','430','460','290']" data-type="text"
                                                data-basealign="slide" data-responsive_offset="on"
                                                data-frames='[{"delay":"+490","speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                                style="z-index: 12;"> <a href="portfolio-full-width-grid-transform.html"
                                                    class="text-white" style="line-height: 1">at Seoul National University</a></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </article>
</section>