<!doctype html>
<html class="no-js" lang="en">

    {% include head.html %}

<body class="left-nav-sidebar">

		{% include nav-home.html %}
    {{ content }}
		{% include footer.html %}
    <!-- javascript libraries -->
	  <script type="text/javascript" src="{{ '/assets/javascripts/jquery.js' | relative_url }}"></script>
	  <script type="text/javascript" src="{{ '/assets/javascripts/modernizr.js' | relative_url }}"></script>
	  <script type="text/javascript" src="{{ '/assets/javascripts/bootstrap.min.js' | relative_url }}"></script>
	  <script type="text/javascript" src="{{ '/assets/javascripts/jquery.easing.1.3.js' | relative_url }}"></script>
		<script type="text/javascript" src="{{ '/assets/javascripts/skrollr.min.js' | relative_url }}"></script>
		<script type="text/javascript" src="{{ '/assets/javascripts/smooth-scroll.js' | relative_url }}"></script>
		<script type="text/javascript" src="{{ '/assets/javascripts/jquery.appear.js' | relative_url }}"></script>
    <!-- menu navigation -->
		<script type="text/javascript" src="{{ '/assets/javascripts/bootsnav.js' | relative_url }}"></script>
		<script type="text/javascript" src="{{ '/assets/javascripts/jquery.nav.js' | relative_url }}"></script>
    <!-- animation -->
		<script type="text/javascript" src="{{ '/assets/javascripts/wow.min.js' | relative_url }}"></script>
    <!-- page scroll -->
		<script type="text/javascript" src="{{ '/assets/javascripts/page-scroll.js' | relative_url }}"></script>
    <!-- swiper carousel -->
		<script type="text/javascript" src="{{ '/assets/javascripts/swiper.min.js' | relative_url }}"></script>
    <!-- counter -->
    <script type="text/javascript" src="{{ '/assets/javascripts/jquery.count-to.js' | relative_url }} "></script>
    <!-- parallax -->
    <script type="text/javascript" src="{{ '/assets/javascripts/jquery.stellar.js' | relative_url }} "></script>
    <!-- magnific popup -->
    <script type="text/javascript" src="{{ '/assets/javascripts/jquery.magnific-popup.min.js' | relative_url }} "></script>
    <!-- portfolio with shorting tab -->
    <script type="text/javascript" src="{{ '/assets/javascripts/isotope.pkgd.min.js' | relative_url }} "></script>
    <!-- images loaded -->
    <script type="text/javascript" src="{{ '/assets/javascripts/imagesloaded.pkgd.min.js' | relative_url }} "></script>
    <!-- pull menu -->
    <script type="text/javascript" src="{{ '/assets/javascripts/classie.js' | relative_url }} "></script>
    <script type="text/javascript" src="{{ '/assets/javascripts/hamburger-menu.js' | relative_url }} "></script>
    <!-- counter -->
    <script type="text/javascript" src="{{ '/assets/javascripts/counter.js' | relative_url }} "></script>
    <!-- fit video -->
    <script type="text/javascript" src="{{ '/assets/javascripts/jquery.fitvids.js' | relative_url }} "></script>
    <!-- equalize -->
    <script type="text/javascript" src="{{ '/assets/javascripts/equalize.min.js' | relative_url }} "></script>
    <!-- skill bars -->
    <script type="text/javascript" src="{{ '/assets/javascripts/skill.bars.jquery.js' | relative_url }} "></script>
    <!-- justified gallery -->
    <script type="text/javascript" src="{{ '/assets/javascripts/justified-gallery.min.js' | relative_url }} "></script>
    <!--pie chart-->
    <script type="text/javascript" src="{{ '/assets/javascripts/jquery.easypiechart.min.js' | relative_url }} "></script>
    <!-- instagram -->
    <script type="text/javascript" src="{{ '/assets/javascripts/instafeed.min.js' | relative_url }} "></script>
    <!-- retina -->
    <script type="text/javascript" src="{{ '/assets/javascripts/retina.min.js' | relative_url }} "></script>
    <!-- revolution -->
		<script type="text/javascript" src="{{ '/assets/extensions/revolution/js/jquery.themepunch.tools.min.js' | relative_url }}"></script>
		<script type="text/javascript" src="{{ '/assets/extensions/revolution/js/jquery.themepunch.revolution.min.js' | relative_url }}"></script>
    <!-- revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading) -->
    <!--<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>-->
    <!-- setting -->
		<script type="text/javascript" src="{{ '/assets/javascripts/main.js' | relative_url }}"></script>
</body>

</html>
